

body {
    font-family: 'Poppins', sans-serif;
    background: #fff;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    color: #333;

}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
        box-sizing: border-box;
}

