.about-container{
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
}

.about-section {
  padding: 90px 0;
  background-color: #f8fafa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  border-radius: 10px;
}


.about-image {
  flex: 0 0 50%;
  position: relative;
  max-width: 500px;
}


.about-image img{
  width: 100%;
  max-width: 400px;;
  height: 500px;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.about-badge {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 144, 144, 0.777);
  padding: 20px 20px;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  width: 80%;
  text-align: center;
  
}

.about-badge .badge-title {
 font-weight: bold;
 margin: 0;
  padding: 8px 0; 
}

.about-badge .badge-text {
  margin: 5px 0;
  font-size: 15px;
}

.about-badge .highlight {
  color: #e67e22;
  font-weight: bold;
}

.about-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}

.about-desc {
  margin: 0;
  font-size: 28px;
  color: #333;
  font-weight: 600;
  line-height: 1.3;
  
}

.about-content p{
  margin: 0;
  font-size: 15px;
  color: #666;
  margin: 0;
}

.about-tag {
  font-size: 14px;
  color: #e67e22;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  text-align: left;
  font-weight: 500;
} 

 /*.about-title {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 20px;
  color: #222;
} */



.about-points {
  list-style: none;
  padding: 20px;
  color: #666;
  display: flex;
  margin-left: -15px;
  
}

 .about-points li {
  font-size: 15px;
  color: #444;
  margin-bottom: 12px;
  margin-left: -5px;
  position: relative;
  padding: 20px 0 0 30px;
  line-height: 1.6;
} 

.about-points li::before {
  content: "";
  color: #ff8a00;
  position: absolute;
  left: 0;
  font-size: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  background-color: #e67e22;
  border-radius: 50%;
} 

.about-button {
  align-self: flex-start;
  padding: 10px 20px ;
  background-color: #e67e22;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
}

.about-button:hover {
  background-color: #444;
}

.about-stats {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
  
  
}

.stat-box{
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  flex: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.stat-box h3{
  margin: 0;
  font-size: 24px;
  color: #e67e22;
}

.stat-box p{
  margin: 5px 0 0;
  font-size: 14px;
  color: #666;
}
