.service-page {
  font-family: Arial, sans-serif;
  background-color: #f7f7ff;
  padding: 20px;
}

/* HERO SECTION */
.hero-section {
  text-align: center;
  padding: 40px 20px;
}

.hero-content h2 {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.address-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.address-bar input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.address-bar button {
  padding: 10px 15px;
  background-color: #e8f6f1;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Main hero */
.hero-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
}

.hero-image img{
  border-radius: 20px;
  border-top-right-radius: 50%;
 border-bottom-left-radius: 30%; 
}

.hero-text {
  max-width: 400px;
  text-align: left;
}

.hero-text h1 {
  color: #7f6eed;
  font-size: 2.5rem;
}

.hero-text h3 {
  font-weight: bold;
  margin: 10px 0;
}

.hero-text p {
  margin-bottom: 20px;
}

.get-prime {
  background-color: #7f6eed;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}

/* FEATURES SECTION */
.features-section {
  display: flex;
  justify-content: space-around;
  padding: 60px 0;
  text-align: center;
  background-color: #f2f2fc;
  flex-wrap: wrap;
}

.feature {
  max-width: 300px;
  padding: 10px;
}

.feature h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

/* FAQ SECTION */
.faq-section {
  background-color: #f5f5f5;
  padding: 60px 20px;
  text-align: center;
}

.faq-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.faq-box {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  max-width: 400px;
  text-align: left;
}

@media (max-width: 768px) {
  .cards, .steps {
    flex-direction: column;
  }

  .card, .step {
    flex: 1 1 100%;
  }
}
