.footer {
  background-color: #6b6b6d;
  color: #fff;
  padding: 60px 40px 20px;
  font-family: sans-serif;
  margin-top: 50px; 
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: start;
  gap: 40px;
}

.footer-logo img {
  width: 120px;
  margin-bottom: 20px;
}

.footer-links {
  display: flex;
  gap: 60px;
  flex-direction: row;
  align-items: start;
}

.footer-col ul a{
   text-decoration: none;
   color: #fff;
}


.footer-col h4 {
  font-weight: bold;
  margin-bottom: 15px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
}

.footer-apps {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.footer-apps img {
  width: 140px;
  height: auto;
  cursor: pointer;
}

.footer-policy p {
  margin: 6px 0;
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
}

.footer-language {
  margin-top: 40px;
}

.footer-language select {
  padding: 10px 16px;
  font-size: 14px;
  background: transparent;
  color: #333;
  border: 1px solid #fff;
  border-radius: 6px;
  cursor: pointer;
}


@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-links {
    flex-direction: column;
    gap: 30px;
  }

  .footer-apps {
    align-items: center;
  }

  .footer-policy {
    text-align: center;
  }

  .footer-language {
    text-align: center;
  }
}*/
 .footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  color: #aaa;
} 
