header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #FFFFFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #F5A623;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: color 0.3s ease;
}

.nav-link{
  flex: 1;  
  text-align: right;
}

.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-link ul li a{
    color: #333;
    text-decoration: none;
    font-size: 16px;
}



.nav-link .get-started {
    background: #F5A623;
    color: #FFFFFF;
    padding: 8px 20px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 10px;

}

 .nav-link ul li::after{
    content: "";
    height: 2px;
    width: 0%;
    background: #F5A623;
    display: block;
    margin: auto;
    transition: 0.5s;
 }

.nav-link ul li:hover::after{
    width: 100%;
}